.menu-btn {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 1;
    bottom: -10px;
    left: 15px;
  }

  .menu-btn__lines,
  .menu-btn__lines::before,
  .menu-btn__lines::after {
    width: 1.5rem;
    height: 0.1rem;
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn__lines::before,
  .menu-btn__lines::after {
    content: "";
    position: absolute;
  }

  .menu-btn__lines::before {
    transform: translateY(-0.5rem);
  }

  .menu-btn__lines::after {
    transform: translateY(0.5rem);
  }

  /* animation */

  .menu-btn.open .menu-btn__lines {
    transform: translateX(2rem);
    background-color: transparent;
  }

  .menu-btn.open .menu-btn__lines::before {
    transform: rotate(45deg) translate(-1.5rem, 1.5rem);
    background-color: #ffffff;
  }
  
  .menu-btn.open .menu-btn__lines::after {
    transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
    background-color: #ffffff;
  }