    /*header + hamburger*/

.header {
    background-color: #000;
}

.header-container {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    height: 72px;
    border-bottom: #fff 1px solid;
}

.logo_and_title {
    display: flex;
    height: 100%;
    align-items: center;
}

.logo {
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.logo-img {
    width: 90%;
    height: 90%;
}

.Title {
    margin-right: 40px;
}

.menu-items {
    display: none;
    list-style: none;
    background-color: #000;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: #fff 1px solid;
}

.menu-items2 {
    display: none;
    align-content: center;
    justify-content: center;
    gap: 20%;
}

.menu-item {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
}

.menu-item:hover {
    text-decoration: underline;
}

.open {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20%;
    bottom: 1px;
}

/* main knife section */

.knife_and_Buttons_container {
    width: 360px;
    margin: 0 auto;
    margin-top: 10%;
}

.backgroundtext {
    display: block;
    width: 100%;
    font-size: 9em;
    text-align: center;
    position: relative;
    z-index: -1;
    opacity: 10%;
    border-bottom: #fff 1px solid;
    border-top: #fff 1px solid;
    top: 350px;
    margin-top: -180px;
}

.description {
    display: inline;
}

.description-text {
    color: #fff;
    font-size: 1.3em;
    position: relative;
    bottom: 10px;
    left: 5px;
}

.description:hover .white_circle {
    fill: #fff;
    transition: 0.5s;
}

.description:hover .description-text {
    text-decoration: underline;
    transition: 0.5s;
}

.opener {
    position: relative;
    bottom: 390px;
    left: 100px;
    margin: -350px;
}

.handle {
    position: relative;
    bottom: 290px;
    left: 165px;
}

.description-text__h {
    bottom: -4px;
    left: -5px;
}

.joint {
    position: relative;
    bottom: 240px;
    left: 160px;
}

.blade {
    position: relative;
    bottom: 70px;
    left: -40px;
}

.description-text__b {
    bottom: 35px;
    left: 120px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 40px;
}

.button {
    display: flex;
    width: 115px;
    padding: 0.5em;
    background-color: #db0000;
    border: 1px solid #db0000;
    border-radius: 2em;
}

.button span {
    font-size: 1.5em;
    margin: 0 auto;
}

.arrow {
    width: 1.2em;
    height: 1.2em;
    margin-top: 0.3em;
}

.button:hover {
    opacity: 50%;
    transition: 0.5s;
}

/* description of parts */

.part {
    margin: 0 auto;
    width: 95%;
    background-image: url(./Vystupy/background-blured.jpg);
}

.part h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.part-content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    font-size: 4.5vw;
}

.image_container-img {
    width: 45vw;
}

.part-content p {
    text-align: center;
    align-self: center;
}

.grid_item_1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.grid_item_2 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.grid_item_3 {
    grid-column: 1/2;
    grid-row: 5/6;
}

.grid_item_4 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.grid_item_5 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.grid_item_6 {
    grid-column: 2/3;
    grid-row: 4/5;
}

.part:nth-child(1n+2) {
    margin-bottom: 20%;
}

.last_call_to_action {
    display: flex;
    margin-top: 20%;
    margin-bottom: 10%;
}

.last_call_to_action-button {
    margin: 0 auto;
}

.copyright {
    margin: 1em;
}